/* changing attributes by unique IDs and advisable to put unique ids
/* h1 {
    color : blue;
    text-decoration: line-through;
} */

/* #myid {
    color : blue;
    text-decoration: line-through;
}  */

/* .heading-class{
    color:blue;
}

body{
    background-color: white;
}

button{
    color:rgb(100, 0, 0);
} 
    
*/